#vendor/
#node_modules/

# Laravel 4 specific
/class/conexion.class.php.txt
/tools/xajax_0.5_standard
/tools/xajax_0.5_standard.zip
#app/storage/

# Laravel 5 & Lumen specific
#bootstrap/cache/
#.env.*.php
#.env.php
#.env

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
#.rocketeer/